layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="root" cwd="." {
        pane {
            name "root"
            command "ssh"
            args "-t" "pi@192.168.101.10" "~/.cargo/bin/nu -i"
        }
    }

    tab name="files" cwd="." {
        pane {
            name "root"
            command "ssh"
            args "-t" "pi@192.168.101.10" "~/.cargo/bin/yazi"
        }
    }

    tab name="htop" cwd="." {
        pane {
            name "htop"
            command "ssh"
            args "pi@192.168.101.10" "-t" "htop"
            start_suspended false
        }
    }

    tab name="pueue" cwd="." {
        pane {
            name "pueue"
            command "ssh"
            args "-t" "pi@target" "~/.cargo/bin/nu -c 'loop {clear; sudo pueue status; sleep 2sec}'"
            start_suspended false
        }
    }
}

// ssh -t pi@target '~/.cargo/bin/nu -c loop { ~/.cargo/bin/pueue status; sleep 2sec}'
// args "-t" "pi@target" "~/.cargo/bin/nu -c 'loop {clear; ~/.cargo/bin/pueue status; sleep 2sec}'"